<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="Mir2 Native M0"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mir2Native">
        <activity
            android:name=".MainActivity"
            android:configChanges="layoutDirection|locale|orientation|keyboardHidden|screenSize|smallestScreenSize|density|keyboard|navigation|screenLayout|uiMode"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Mir2Native">
            <meta-data
                android:name="android.app.lib_name"
                android:value="mir2_platform_android" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
